.Mollify{
  text-align: center;
}

nav ul{
	list-style-type: none;
	margin: 20px;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
}

.home {
  padding: 50px;
}

li {
  list-style-type: none;
}

body {
  background-color: #40e0d0 !important;
}
.uk-legend {
  color: #2D6C7A !important;
}

.uk-container {
  max-width: 1300px;
  max-height: 700px;
}

.card-title {
  padding: 15px;
}

.profile {
  margin: 20px;
}

.profile-card {
  margin: 20px;
}

.profile-card-content {
  padding: 30px;
}

.post-list {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 10px;
  padding: 10px;
}

.title {
  color: #FFFFFF !important;
}
.post-card-title {
  color: #2D6C7A !important;
}

.uk-card-body {
    padding-bottom: 15px;
    padding-top: 30px;
}

.uk-card-footer {
  padding-top: 20px;
}
