.Mollify{
  text-align: center;
}

nav ul{
	list-style-type: none;
	margin: 20px;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
  space-between: 10px;
}

li {
  list-style-type: none;
}

.Mollify {
  background-color: #40e0d0;
}

.post-list {
  margin: 50px
}
